$color-black    : lighten(black, 13%);
$color-grey     : #CCCCCC;
$color-smoke    : #EBEBEB;
$color-primary  : #3F51B5;
$color-secondary: #FF9800;
$color-success  : #4CAF50;
$color-disabled : #DFDFDF;