<div class="vs-page-history">
    <div class="vs-page-body">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell align-self-middle">
                <div class="vs-box-page-content z-depth-2">
                    <div class="vs-box-page-header">
                        <div class="grid-x grid-padding-x">
                            <div class="small-12 cell align-self-middle">
                                <div class="vs-page-title middle-left">
                                    <img src="apps/img/icon/history.png" class="mdi-right">
                                    <span class="vs-page-title font-bold">Riwayat Barang</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="large-12 cell">
                            <div class="vs-box-page-body">
                                <div class="grid-x grid-padding-x">
                                    <div class="small-12 cell">
                                        <div class="grid-x grid-padding-x align-center">
                                            <div class="small-8 cell margin-bottom-8px">
                                                <div class="grid-x grid-padding-x">
                                                    <div class="small-5 cell">
                                                        <label for="">Tanggal Mulai</label>
                                                        <input type="text" ui-date="dateReportOptions" name="dateReportStart" ng-model="report.date_mulai" placeholder="Isikan tanggal mulai..." autocomplete="off">
                                                    </div>
                                                    <div class="small-2 cell font-bold text-center align-self-middle">
                                                        <label for="">&nbsp;</label>
                                                        s.d
                                                    </div>
                                                    <div class="small-5 cell">
                                                        <label for="">Tanggal Selesai</label>
                                                        <input type="text" ui-date="dateReportOptions" name="dateReportEnd" ng-model="report.date_selesai" placeholder="Isikan tanggal selesai..." autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="small-12 cell">
                                        <table class="vs-table show-for-large">
                                            <thead>
                                                <tr>
                                                    <th width="48">&nbsp;</th>
                                                    <th width="150" class="text-center">NIK</th>
                                                    <th width="300" class="text-center">Nama</th>
                                                    <th class="text-center">Aksi</th>
                                                    <th width="200" class="text-center">Waktu</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vs-box-page-footer">
                        <div class="grid-x grid-padding-x">
                            <div class="small-12 cell text-right">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
